# Terraform
**/*.tfvars
**/*.log
**/*.tfstate
**/*.tfstate.backup
**/.terraform
**/.DS_Store
**/.terraform.tfstate.lock.info
**/*id_rsa*
**/org_scripts
**/*.txt
!requirements.txt
**/go.mod
**/go.sum

# Calm
**/variables.py
**/.calm
**/.local
**/__pycache__
**/blueprint.json

# Kubernetes
**/gke/
**/*kubeconfig

# Visual Studio Code
**/.vscode
